/*
*singer.action
*/
.fans-chart-border{
	border:solid 1px #ddd;
	padding:10px;
	height:1300px;
}
.singerinfo{

	padding-right:100px;
	font-size:20px;
}
.singerinfo li{
	line-height:30px;	
}
.singerinfo span{
	margin-left:20px;
}
/*歌手推荐*/
.rec-singer-border{
	border:solid 1px #ddd;
	padding:10px;
	height:800px;
}

/*标签云*/
.label-div {position:relative; width:450px; height:350px; margin: 0px auto 0; }
.label-div a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:#000; font-weight:bold; text-decoration:none; padding: 3px 6px; }
.label-div a:hover {border: 1px solid ;}
.label-div .default {color:#173F7D;}
.label-div .blue {color:#00ABFF;}
.label-div .red {color:#94043F;}
.label-div .green{color:#76B573;}
.label-div .yellow {color:rgb(218, 137, 77);}
/*
*search.action
*/
.search-div-border{
	border:solid 1px #ddd;
	padding:10px;
}
.search-div-border button{
	height:30px;
	font-family:"微软雅黑";
	font-size:18px;
}
.songinfo{
	padding-left:100px;
	padding-right:100px;
	font-size:20px;
}
.songinfo li{
	line-height:30px;	
}
.songinfo span{
	margin-left:20px;
}
/*
*category.action
*/
.search-option-border{
	border:solid 1px #ddd;
	padding:10px;
	line-height:30px;
}
.search-option-border select{
	width:100px;
}
/*音乐排行榜*/
.table-div-border{
	border:solid 1px #ddd;
	padding:10px;
}
/*听众属性*/
.listener-chart-border{
	border:solid 1px #ddd;
	padding:10px;
	height:800px;
}
.line{
	 height:1px;
	 width:100%;
	 background:#B4C3D1;
	 overflow:hidden;
	 margin:10px 0px 10px 0px;
}
/*关联分析*/
.graph-border{
	border:solid 1px #ddd;
	width:100%;
	height:600px;
}
/*听众评论分析*/
.label-border{
	border:1px solid #ddd;
	background: rgba(207, 218, 222, 0.34) no-repeat center 230px;	
}
/*标签云css*/
#label-div {position:relative; width:450px; height:350px; margin: 0px auto 0; }
#label-div a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:#000; font-weight:bold; text-decoration:none; padding: 3px 6px; }
#label-div a:hover {border: 1px solid ;}
#label-div .default {color:#173F7D;}
#label-div .blue {color:#00ABFF;}
#label-div .red {color:#94043F;}
#label-div .green{color:#76B573;}
#label-div .yellow {color:rgb(218, 137, 77);}
.table-div-border select{
	width:100px;
}
/*
*index.jsp
*/
/*音乐排行榜*/
#song-rank .index{
	color:#FF6D01;
	font-size:16px;
}
#song-rank li .song-info{
	width:100%;position:relative;
}
#song-rank li .song{
	width:150px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;position:absolute;
}
#song-rank li .song:hover
{
text-overflow:inherit;
overflow:visible;
}
#song-rank li .listen-times{
	width:100px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;position:absolute;left:170px;
}
#song-rank li .listen-times:hover
{
text-overflow:inherit;
overflow:visible;
}
/*热门音乐推荐*/
#rec-song .index{
	color:#FF6D01;
	font-size:16px;
}
#rec-song li .song-info{
	width:100%;position:relative;
}
#rec-song li .song{
	width:180px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;position:absolute;
}
#rec-song li .song:hover
{
text-overflow:inherit;
overflow:visible;
}
#rec-song li .rec-times{
	width:100px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;position:absolute;left:220px;
}
#rec-song li .rec-times:hover
{
text-overflow:inherit;
overflow:visible;
}
/*实时热门歌手*/
#hotSinger .index{
	color:#FF6D01;
	font-size:16px;
}
#hotSinger li .singer-info{
	width:100%;position:relative;
}
#hotSinger li .song{
	width:120px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;position:absolute;left:120px;
}
#hotSinger li .song:hover
{
text-overflow:inherit;
overflow:visible;
}
#hotSinger li .hot{
	position:absolute;left:260px;
}
/*听众分布地图*/
.map-container {
    height: 380px; 
    min-width: 100%; 
    max-width: 100%; 
    margin: 0 auto; 
}
/*
 * Globals
 */
.title{
	font-size:18px;
	font-family:"微软雅黑";
	color:#333;
	margin-top:5px;
	margin-left:5px;
 }
.list-title{
	margin-bottom:10px;
}
.contain-border{
	border:solid 1px #ddd;
	padding:0px;
}
.span-border{
	border:solid 1px #ddd;
	padding:10px;
}
body {
  font-family: Georgia, "微软雅黑", Times, serif;
  color: #555;
  font-size:15px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family:"微软雅黑"; //"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
strong{
	color:#357ECB;
	font-size:20px;
}
{ 
background-color:yellow;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
/*
*覆盖bootstrap
*/
input[type="radio"], input[type="checkbox"]{
	margin:0px 3px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	font-weight:bold;
	color:rgb(89, 154, 224);
	font-size:18px;/*body是14px*/
} 
a{
	color:#444F55;
}
/*
 * Override Bootstrap's default container.
 */

/* @media (min-width: 1200px) {
  .container {
    width: 970px;
  }
} */


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
  font-size:20px;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
