<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <!-- 命名空间 -->
    <typeAliases>
         <typeAlias alias="User" type="com.keystone.analytics.music.model.User"/>
         <typeAlias alias="HotRank" type="com.keystone.analytics.music.model.HotRank"/>
         <typeAlias alias="RelatedSongs" type="com.keystone.analytics.music.model.RelatedSongs"/>  
         <typeAlias alias="HotSinger" type="com.keystone.analytics.music.model.HotSinger"/> 
         <typeAlias alias="ReviewLocationCount" type="com.keystone.analytics.music.model.ReviewLocationCount"/> 
         
         <typeAlias alias="RankDetail" type="com.keystone.analytics.music.model.RankDetail"/>
         <typeAlias alias="ReviewDetail" type="com.keystone.analytics.music.model.ReviewDetail"/>
         <typeAlias alias="ReviewerLabel" type="com.keystone.analytics.music.model.ReviewerLabel"/>
         <typeAlias alias="SongRecommend" type="com.keystone.analytics.music.model.SongRecommend"/>
         <typeAlias alias="SongCorrelation" type="com.keystone.analytics.music.model.SongCorrelation"/>
    </typeAliases>
 
    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>